:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #00ff51;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 20px;
  line-height: 1.1;
}

.rounded-image {
  width: 200px;
  height:200px;
  object-fit: cover;
  object-position:top center;
  border-radius: 10%;
}

.round-image {
  width: 200px;
  height:200px;
  object-fit: cover;
  object-position:top center;
  border-radius: 50%;
  
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position:top center;
  border-radius: 10%;
}